@model IEnumerable<INTELITRADER_Project.Models.Vaga_Candidato>

   
@{
    ViewBag.Title = "Candidatos";
}

<h2>Candidatos para a Vaga:</h2>
<br />
@foreach (var item in Model)
{
    <div >
        <h4> @item.Candidato</h4>
       
    </div>
}
<br />
<br />
<a class="btn btn-default" href="/Vagas/Index">Voltar</a>





